<!DOCTYPE html>
<!-- This HTML comes from the Django REST Framework documentation at
     https://www.django-rest-framework.org/topics/documenting-your-api -->
<html>
    <head>
        <title>Swagger</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css" />
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
        <script>
         const ui = SwaggerUIBundle({
             url: "{% url schema_url %}",
             dom_id: '#swagger-ui',
             presets: [
                 SwaggerUIBundle.presets.apis,
                 SwaggerUIBundle.SwaggerUIStandalonePreset
             ],
             layout: "BaseLayout",
             requestInterceptor: (request) => {
                 request.headers['X-CSRFToken'] = "{{ csrf_token }}"
                 return request;
             }
         })
        </script>
    </body>
</html>
